{% extends 'base.html.twig' %}

{% block stylesheets %}

    <style>

       html {
            width: 100%;
            height: 100%;
        }

        body  {
            margin:0;
            padding:0;
        }

        .centerpanel {
            display:flex;
            align-items: center;
        }

        .left{
            margin: auto;
        }

        .right {
            margin: auto;
        }

        .navbar {
            width: 100%;
            list-style-type: none;
            margin: 0 auto;
            overflow: hidden;
            background-color: #333;    
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 14px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111;
        }

        .active {
            background-color: #FFBB0F;
            color: black;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
            margin: 0px auto;
        }

        .footer {
            
            bottom: 0;
            width: 100%;
            background-color: #333333;
            margin: 0;
            padding: 0;
            font-size: 0.8em;
            color: #FFBB0F;
        }

        .conteneur {
            width: 80%;
            margin: 0 auto;
        }

        .newsbd, .newslivre, .newscd {
            text-align: center;
            margin: auto;
        }

        .section {
            width: 80%;
            height: 200px;
            background: aqua;
            margin: auto;
        }

        .one {
            width: 50%;
            height: 200px;
            background: -webkit-linear-gradient(left, #FFBC0F , #878C95);
            float: left;
            text-align: center;
        }

        .two {
            margin-left: 50%;
            height: 200px;
            background: -webkit-linear-gradient(left, #878C95 , #FFBC0F);
            text-align: center;
            font-size: 0.8em;
        }

    </style>
{% endblock %}

{% block body %}

    <nav class="navbar">
        <div class="container-fluid"
             <ul>
                <li><a class="active" href="#home">Accueil</a></li>
                <li><a href="#reservation">Réservation</a></li>
                <li><a href="#documents">Nouveautés</a></li>
                <li><a href="#evenements">Evenements</a></li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                    {% else %}
                    <li><a href="register"> S'inscrire</a></li>
                    <li><a href="#">Se connecter</a></li>
                    <div>
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <label for="username"><input class="usernameinput" type="text" id="username" name="_username" placeholder="Utilisateur" required="required" size="8"></label>
                            <label for="password"><input type="password" id="password" name="_password" placeholder="Mot de passe" required="required" size="8"></label>
                            <label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" value="on" hidden></label>
                            <button type="submit" id="_submit" name="_submit""><span></span>Ok</button>
                        </form>
                    </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav><br>

    
    <div class="conteneur">
        <div class="newsbd"
             <h3>Nouvelles BD :</h3><br><br>

            <table>
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Année</th>
                        <th>Date d'entrée à la médiathèque</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ouvrage_bd in ouvrages_bd %}
                        <tr>
                            <td>{{ ouvrage_bd.ouvrage.titre }}</td>
                            <td>{{ ouvrage_bd.ouvrage.annee }}</td>
                            <td>{% if ouvrage_bd.ouvrage.date %}{{ ouvrage_bd.ouvrage.date|date('Y-m-d') }}{% endif %}</td> 
                        </tr>
                    {% endfor %}   
                </tbody>
            </table>
        </div><br>

        <div class="newscd"
             <h3>Nouveaux CD:</h3><br><br>

            <table>
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Année</th>
                        <th>Date d'entrée à la médiathèque</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ouvrage_cd in ouvrages_cd %}
                        <tr>
                            <td>{{ ouvrage_cd.ouvrage.titre }}</td>
                            <td>{{ ouvrage_cd.ouvrage.annee }}</td>
                            <td>{% if ouvrage_cd.ouvrage.date %}{{ ouvrage_cd.ouvrage.date|date('Y-m-d') }}{% endif %}</td> 
                        </tr>
                    {% endfor %}   
                </tbody>
            </table>
        </div><br>

        <div class="newslivre"
             <h3>Nouveaux Livres :</h3><br><br>

            <table>
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Année</th>
                        <th>Date d'entrée à la médiathèque</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ouvrage_livre in ouvrages_livre %}
                        <tr>
                            <td>{{ ouvrage_livre.ouvrage.titre }}</td>
                            <td>{{ ouvrage_livre.ouvrage.annee }}</td>
                            <td>{% if ouvrage_livre.ouvrage.date %}{{ ouvrage_livre.ouvrage.date|date('Y-m-d') }}{% endif %}</td> 
                        </tr>
                    {% endfor %}   
                </tbody>
            </table>
        </div>

    </div>

    <section class="section">

        <div class="one">
            <h3>Présentation</h3>
            <p>En plein coeur de ville, ouverte 34 heures par semaine, la bibliothèque Robert-Desnos est la plus importante des bibliothèques de Montreuil.

                Au sein de ses 3 300 m2, elle regroupe de vastes collections de livres, revues, CD et DVD pour tous les publics, petits et grands.</p>

        </div>

        <div class="two">
            <h3><br>Horaires</h3>
            <p>Mardi : 12h-20h</p>
            <p>Mercredi : 10h-18h</p>
            <p>Jeudi : 14h-19h</p>
            <p>Vendredi : 14h-19h</p>
            <p>Samedi : 10h-18h</p>
        </div>

    </section>

    <footer class="footer">
        <p>Posted by: Callec Yoann</p>
        <p>Mairie - Square Anne de Bretagne - 29410 Pleyber-Christ</p>
        <p>Tél : 02 98 78 41 67 | Mail : pleyber.christ-mairie@wanadoo.fr</p>
    </footer>


{% endblock %}


