{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div class="conteneur" >

        <h3 class="BDh3">Nouvelles BD :</h3>

        <div class="newsbd">
            {% for repobd in repobds %}
                <div class="wrapperBD">
                    <div class="imageleft"><img src="{{ repobd.image }}" height="190" width="150"></i></div>
                    <div class="inforight">
                        <p><b>Titre :</b> {{repobd.ouvrage.titre }}</p>
                        <p><b>Auteur:</b> {{repobd.auteur}}</p>
                        <p><b>Année de parution :</b> {{ repobd.ouvrage.annee }}</p>
                        <p><b>Date d'entrée médiathèque :</b> {% if repobd.date %}{{ repobd.date|date("Y-m-d") }}{% endif %}</p>
                        
                        {% set reservable = false %} {# on initalise une variable à faux(on ne sait pas si elle est réservée #}
                        {% for libre in libres %}
                            {% if libre.ouvrage == repobd.ouvrage %} {# Si les 2 id d'ouvrages correspondent entre table relation et table ouvrage #}
                                {% set reservable = true %}{# Alors la variable est vraie#}
                            {% endif %}
                        {% endfor %}
                        {% if reservable %}
                            <p>Non disponible</p>
                        {% else %}
                        <b><a href ="{{ path("mediatheque_reservation",  {'id': repobd.ouvrage.id })}}" id="resalinkbd">--> Réserver <--</a></b>
                        {% endif %}
                    </div>
                    
                {% endfor %}   
            </div>
        </div>
            
    

    <h3 class="CDh3">Nouveaux CD:</h3>

    <div class="newscd">
        {% for repocd in repocds %}
            <div class="wrapperCD">   
                <div class="imageleft"><img src="{{ repocd.image }}" height="150" width="150"></i></div>
                <div class="inforight">
                    <p><b>Titre :</b> {{ repocd.ouvrage.titre }}</p>
                    <p><b>Artiste :</b> {{ repocd.artiste }}</p>
                    <p><b>Année de parution :</b> {{ repocd.ouvrage.annee }}</p>
                    <p><b>Date d'entrée médiathèque :</b> {% if repocd.date %}{{ repocd.date|date('Y-m-d') }}{% endif %}</p>
                    
                    {% set reservable = false %} {# on initalise une variable à faux(on ne sait pas si elle est réservée #}
                        {% for libre in libres %}
                            {% if libre.ouvrage == repocd.ouvrage %} {# Si les 2 id d'ouvrages correspondent entre table relation et table ouvrage #}
                                {% set reservable = true %}{# Alors la variable est vraie#}
                            {% endif %}
                        {% endfor %}
                        {% if reservable %}
                            <p>Non disponible</p>
                        {% else %}
                    <b><a href ="{{ path("mediatheque_reservation",  {'id': repocd.ouvrage.id })}}" id="resalinkcd">--> Réserver <--</a></b>
                    {% endif %}
                </div>
                 
            {% endfor %}   
        </div>
    </div>

    <h3 class="Livreh3">Nouveaux Livres :</h3>

    <div class="newslivre"
         {% for repolivre in repolivres %}
             <div class="wrapperLivre">   
                 <div class="imageleft"><img src="{{ repolivre.image }}" height="190" width="150"></i></div>
                 <div class="inforight">
                     <p><b>Titre :</b> {{ repolivre.ouvrage.titre }}</p>
                     <p><b>Auteur:</b> {{ repolivre.auteur }}</p>
                     <p><b>Année de parution :</b> {{ repolivre.ouvrage.annee }}</p>
                     <p><b>Date d'entrée médiathèque :</b> {% if repolivre.ouvrage.date %}{{ repolivre.ouvrage.date|date('Y-m-d') }}{% endif %} </p>
                     {% set reservable = false %} {# on initalise une variable à faux(on ne sait pas si elle est réservée #}
                        {% for libre in libres %}
                            {% if libre.ouvrage == repolivre.ouvrage %} {# Si les 2 id d'ouvrages correspondent entre table relation et table ouvrage #}
                                {% set reservable = true %}{# Alors la variable est vraie#}
                            {% endif %}
                        {% endfor %}
                        {% if reservable %}
                            <p>Non disponible</p>
                        {% else %}
                     <b><a href ="{{ path("mediatheque_reservation",  {'id': repolivre.ouvrage.id })}}" id="resalinklivre">--> Réserver <--  </a></b>
                        {% endif %}
                 </div>
             {% endfor %}   

         </div>
    </div>

{% endblock %}
