{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div class="conteneur" >

        <h3 class="BDh3">Nouvelles BD :</h3>

        <div class="newsbd">
            {% for repobd in repobds %}
                <div class="wrapperBD">
                    <div class="imageleft"><img src="{{ repobd.image }}" height="190" width="150"></i></div>
                    <div class="inforight">
                        <p>Titre : {{repobd.ouvrage.titre }}</p>
                        <p>Année : {{ repobd.ouvrage.annee }}</p>
                        <p>Date d'entrée médiathèque : {% if repobd.ouvrage.date %}{{ repobd.ouvrage.date|date('Y-m-d') }}{% endif %}</p>
                        <a href ="{{ path("mediatheque_reservation",  {'id': repobd.ouvrage.id })}}">--> Réserver <--</a>
                    </div>
                    
                {% endfor %}   
            </div>
        </div>
            
    

    <h3 class="CDh3">Nouveaux CD:</h3>

    <div class="newscd">
        {% for repocd in repocds %}
            <div class="wrapperCD">   
                <div class="imageleft"><img src="{{ repocd.image }}" height="150" width="150"></i></div>
                <div class="inforight">
                    <p>Titre : {{ repocd.ouvrage.titre }}</p>
                    <p>Artiste : {{ repocd.artiste }}</p>
                    <p>Année : {{ repocd.ouvrage.annee }}</p>
                    <p>Date d'entrée médiathèque : {% if repocd.ouvrage.date %}{{ repocd.ouvrage.date|date('Y-m-d') }}{% endif %}</p>
                    <a href ="{{ path("mediatheque_reservation",  {'id': repocd.ouvrage.id })}}">--> Réserver <--</a>
                </div>
                 
            {% endfor %}   
        </div>
    </div>

    <h3 class="Livreh3">Nouveaux Livres :</h3>

    <div class="newslivre"
         {% for repolivre in repolivres %}
             <div class="wrapperLivre">   
                 <div class="imageleft"><img src="{{ repolivre.image }}" height="190" width="150"></i></div>
                 <div class="inforight">
                     <p>{{ repolivre.ouvrage.titre }}</p>
                     <p>{{ repolivre.ouvrage.annee }}</p>
                     <p>Date d'entrée médiathèque : {% if repolivre.ouvrage.date %}{{ repolivre.ouvrage.date|date('Y-m-d') }}{% endif %} </p>
                     <a href ="{{ path("mediatheque_reservation",  {'id': repolivre.ouvrage.id })}}">--> Réserver <--  </a>
                         {#<td><button type="submit" src="{{ ouvrage_livre.ouvrage.id }}">OK</button></td>#}
                 </div>
             {% endfor %}   

         </div>
    </div>

{% endblock %}
