{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div class="conteneur">
        <div class="newsbd"
             <h3>Nouvelles BD :</h3><br><br>

            <table>
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Année</th>
                        <th>Date d'entrée à la médiathèque</th>
                        <th>Réserver</th>
                    </tr>
                </thead>
                <tbody>
                    {% for repobd in repobds %}
                        <tr>
                            <td>{{repobd.ouvrage.titre }}</td>
                            <td>{{ repobd.ouvrage.annee }}</td>
                            <td>{% if repobd.ouvrage.date %}{{ repobd.ouvrage.date|date('Y-m-d') }}{% endif %}</td> 
                            <td><button type="submit" src="{{ repobd.ouvrage.id }}">OK</button></td>
                        </tr>
                    {% endfor %}   
                </tbody>
            </table>
        </div><br>

        <div class="newscd"
             <h3>Nouveaux CD:</h3><br><br>

            <table>
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Année</th>
                        <th>Date d'entrée à la médiathèque</th>
                        <th>Réserver</th>
                    </tr>
                </thead>
                <tbody>
                    {% for repocd in repocds %}
                        <tr>
                            <td>{{ repocd.ouvrage.titre }}</td>
                            <td>{{ repocd.ouvrage.annee }}</td>
                            <td>{% if repocd.ouvrage.date %}{{ repocd.ouvrage.date|date('Y-m-d') }}{% endif %}</td> 
                            <td><button type="submit" src="{{ repocd.ouvrage.id }}">OK</button></td>
                        </tr>
                    {% endfor %}   
                </tbody>
            </table>
        </div><br>

        <div class="newslivre"
             <h3>Nouveaux Livres :</h3><br><br>

            <table>
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Année</th>
                        <th>Date d'entrée à la médiathèque</th>
                        <th>Réserver</th>
                    </tr>
                </thead>
                <tbody>
                    {% for repolivre in repolivres %}
                        <tr>
                            <td>{{ repolivre.ouvrage.titre }}</td>
                            <td>{{ repolivre.ouvrage.annee }}</td>
                            <td>{% if repolivre.ouvrage.date %}{{ repolivre.ouvrage.date|date('Y-m-d') }}{% endif %}</td> 
                            <td><a href ="{{ path("mediatheque_reservation",  {'id': repolivre.ouvrage.id })}}">OK</td>
                           {# <td><button type="submit" src="{{ ouvrage_livre.ouvrage.id }}">OK</button></td>#}
                        </tr>
                    {% endfor %}   
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}
